/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/ 
:root{
    --violet-fonce: #1e102a;
    --bleu-ocean: #5242b6;
    --emeraude: #3bcc86;
    --white: #fff;
    --fade: #e8d1fb;
    --black: #000;
}

@font-face {
    font-family: Tommysoft;
    src: url(../assets/made_tommy/MADE\ TOMMY\ Bold.otf);
}
@font-face {
    font-family: Tommy;
    src: url(../assets/made_tommy/MADE\ TOMMY\ Regular.otf);
}
@font-face {
    font-family: Tomthin;
    src: url(../assets/made_tommy/MADE\ TOMMY\ Thin.otf);
}
@font-face {
    font-family: TomMed;
    src: url(../assets/made_tommy/MADE\ TOMMY\ Medium.otf);
}
/*---------------------------------------------------------- 
# Section Hero  
----------------------------------------------------------*/ 
