html{
    background-color:var(--bs-light);
    width: 100%;
    height: 100%;
    min-width: 300px;
}


.logo{
    max-width: 80px;
}
main{
    font-family: Tommy;
}
#navbarNavDropdown{
    width: 100%;
}
h1{
    font-size: 32px;
    color: var(--bs-secondary);
    font-weight: 900;
    font-family: TommySoft;
    background-color: var(--bs-light);
    margin: 10px 0px;
}
h2{
    font-size: 28px;
    color: var(--bs-secondary);
    font-weight: 600;
    font-family: TommySoft;
}
h3{
    font-size: 24px;
    color: var(--bs-primary);
    font-family: Tommy;
}
h4{
    font-size: 20px;
    color: var(--white);
    font-family: Tommy;
    margin: 10px 0px;
}
h5{
    font-size: 20px;
    color: var(--bs-dark);
    font-family: TomMed;
}
h6{
    font-size: 16px;
    color: var(--bs-dark);
    font-family: Tommy;
}
/*---------------------------------------------------------- 
# Section Hero  
----------------------------------------------------------*/ 

.navbar {
    background-color: var(--bs-dark);
    border: var(--bs-secondary) 1px solid;
}

.hero{
 
    align-items: center;
    height: 750px;
    margin: 0px;
    background-color: var(--bs-light);
    
}
.gauche {
    min-height: 450px;
}
#intro {
    min-width:300px; 
    margin-bottom: 20px;
}
.fivars{
    max-width: 250px;
    min-width: 150px;
    background-color: var(--bs-light);

}



.phone{
    max-width: 250px;
}

footer{
    background-color: var(--bs-primary);
    position: relative;
    padding: 1rem;
    margin-top: 1rem;
    bottom: 0px;
}
.text{
    color: var(--bs-secondary);
    font-family: Tommy;
}

.lien:hover{
    color: var(--white);
    text-decoration: overline;
}
.lien:link{
    text-decoration: none; 
}

.download{
    height: 50px;
    min-width: 150px;
    background-color: var(--bs-primary);
    border-radius: 50px;
    color: var(--bs-secondary);
    border: none;
    margin: 10px 0px;
    transition: ease 0.3s;
    max-width: 300px;
    min-width: 200px;
    box-shadow: 10px 10px 10px 5px var(--bs-dark);
}
.download:hover{
    box-shadow: inset 0 0 10px var(--bs-dark);
    transform: translateY(5px);
    transition: ease 0.3s;
    box-shadow: 2px 5px 5px 2.5px var(--bs-dark);
}

iframe{
    max-width: 350px;
    aspect-ratio: 5/9;
    height: 100%;
    border: rgb(167, 167, 167) solid 3px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 5px var(--bs-dark);
    overflow: scroll;
    min-width: 300px;
}

#section-view-more, #FAQ {
    background-color: var(--white);
    box-shadow: inset 0px 0px 20px 2px #0000003c;

}
#fonctionnalites {
    background-color:var(--fade);
}
.people {
    width: 30rem;
    box-shadow: 5px 5px 5px 0px #484848;
}


.description{
    color: var(--bs-light);
    font-family: Tomthin;
    max-width: 1200px;
}



.carte{
    border: none;
}

.quote{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 50px;
    color: var(--bs-secondary);
}

.card {
    background-color: var(--fade);
}

.section-testimonials .card { 


    background-color: var(--bs-secondary);
    border-radius: inner 10px;
}

.accueil{
    height: 100vh;
}
@media screen and (orientation: portrait ) { 
    .accueil { 
        height: 1100px; 
    }
}

.summary {
      color: var(--bs-light);
}

#icon {
    font-size: 40px;
    color: var(--bs-dark);
}
#mail{
    
    font-size: 30px;
    color: var(--bs-secondary);
}
#email{
    height: 100%;
    border: none;
    outline: none;
    width: 100%;
}
.contenu{
    width: 100%;
    border: solid 2px;
    border-radius: 10px;
}

.section-testimonials{
    background-color: var(--fade);

}

.accordion-button:not(.collapsed) {
    color: var(--bs-primary);     
    background-color: var(--fade);
}

#infolettre{
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    object-fit: contain;

    min-width: 300px;
    height: 100%;
    background-position: 50% 20%;


}

.info {
    font-size: 40px;
}

.box {

    background-color: rgba(255, 255, 255, 0.7);
 
}

.swiperBtn {
    --swiper-theme-color: var(--bs-secondary);
   

}

 #phone-swiper {
    max-height: 600px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    opacity: 0.50;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-screenshots{
    overflow: visible;
}
.swiper-slide-visible {
    opacity: 1;
}
.swiper-slide-active {
    opacity: 1;
}
#section-view-more {

    width: 100%;
    height: 100%;
}