/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/ 
:root{
    --violet-fonce: #1e102a;
    --bleu-ocean: #5242b6;
    --emeraude: #3bcc86;
    --white: #fff;
    --black: #000;
    --violet-second: #37204b;
}

html {
    background-color: var(--violet-second);
}


body {
    overflow-x: hidden;
}

.navbar {
    background-color: var(--violet-second);
    border: var(--emeraude) 1px solid;
    justify-content: space-around;
    align-items: center;

}

.navbar-toggler {
    color: var(--emeraude);
    background-color: var(--bleu-ocean);
}


.pf {
    position: relative;
    border-radius: 50%;
}

.offcanvas-body {
    background-color: var(--violet-fonce);
}

.dropdown-menu {
    background-color: var(--emeraude);
}

.btn-secondary {
    background-color: var(--emeraude);
}

.form {
    position: relative;
    top: 250px;
}

footer {
    display: flex;
    background-color: var(--bleu-ocean);
    margin-top: 1em;
    height: 200px;
    width: 100%;
}

svg{
    width: 100px;
}

.boutons {
    position: relative;
    top: 260px;
}

.container {
    background-color: var(--violet-second);
}

.btn {
    position: relative;
    left: -32px;
    margin-right: 25px;
    border-radius: 0px;
}



.vedette {
    position: relative;
    top: 280px;
}

.card-img-top {
    height: 20vh;
    object-fit: cover;
    
}

h2 {
    color: var(--emeraude);
}

.artist {
    border-radius: 50%;
}

.card {
    background-color: var(--bleu-ocean);
    max-width: 200px;
}

.card:hover {
    background-color: var(--emeraude);
}

#largeur {
    width: 140%;
}