/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/ 
:root{
    --violet-fonce: #1e102a;
    --bleu-ocean: #5242b6;
    --emeraude: #3bcc86;
    --white: #fff;
    --black: #000;
}

/*---------------------------------------------------------- 
# Section Hero  
----------------------------------------------------------*/ 